

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
  color: #111;
  background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%);
}

.cont {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: auto;
}

.gradient {
  height: 100%;
  width: 100%;  
  background-image: url("http://imgh.us/bg_24.svg");
  background-size: cover;
  background-position: 50% 100%;
  position: fixed;
}

.overlay {
  height: 100%;
  width: 100%;
  background-position: 50% 100%;    
  background-image: url("http://imgh.us/overlay_8.svg");
  background-size: cover;
  position: fixed;
  opacity: 0;
  z-index: -1;
}

.effects {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: fixed;
  background-position: 50% 100%;    
}

.cloud {
  height: 15%;
  position: absolute;
  opacity: .95;
}
.c1 {
  top: 10px;
  left: 1%;
}
.c2 {
  top: 10px;
  left: 35%;
  height: 13%;
}
.c3 {
  top: 10px;
  left: 50%;
  height: 17%;
}
.c4 {
  top: 10px;
  right: 1%;
  height: 12%;
}

.localWeather {
  margin: auto;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  min-width: 300px;
  width: 300px;
  z-index: 5;
}

.location {
  margin: 10px 0 10px 0;
  font-size: 30px;
}

.weatherContainer {
  float: left;
  width: 50%;
}

.icon {
  height: 100px;
}

.weather {
  margin-top: 3px;
  font-size: 15px;
}

.block {
  float: left;
  width: 1%;
  height: 125px;
  background: #eee;
}

.temperatureContainer {
  float: right;
  width: 49%;
  height: 100px;
}

.far {
  font-size: 70px;
  vertical-align: middle;
}

.cel {
  font-size: 70px;
  vertical-align: middle;
  display: none;
}

.deg {
  font-size: 40px;
  color: #333;
}

.tmp {
  cursor: pointer;
}

.toggle {
  font-size: 15px;
  padding-top: 2px;
}